version: "3.9"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      DB_HOST: mysql
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    container_name: mysql2
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: pedidos_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - ./data:/var/lib/mysql
      - ./model:/docker-entrypoint-initdb.d/
